%section.address-list
  %address.contact
    %h5
      Contact (No Image)
    123 Anywhere St, Suite 700<br>
    Evanston, IL 12345<br>
    (487) 487-4874<br>
    %a{ href: 'javascript:void(0);' }person@email.com <br>
  %address.contact--image
    = image_tag 'http://placekitten.com/100/155', class: 'l-left', width: '100', height: '155'
    %h5
      Contact (with Image)
      %small Job Title
    123 Anywhere St, Suite 700<br>
    Evanston, IL 12345<br>
    (487) 487-4874<br>
    %a{ href: 'javascript:void(0);' }person@email.com <br>
  %address.contact--image
    = image_tag 'http://placekitten.com/100/155', class: 'l-left', width: '100', height: '155'
    %h5
      Contact (with Image)
      %small Job Title
    123 Anywhere St, Suite 700<br>
    Evanston, IL 12345<br>
    (487) 487-4874<br>
    %a{ href: 'javascript:void(0);' }person@email.com <br>
  %address.contact--image
    = image_tag 'http://placekitten.com/100/155', class: 'l-left', width: '100', height: '155'
    %h5
      Contact (with Image)
      %small Job Title
    123 Anywhere St, Suite 700<br>
    Evanston, IL 12345<br>
    (487) 487-4874<br>
    %a{ href: 'javascript:void(0);' }person@email.com <br>
  %address.contact--image
    = image_tag 'http://placekitten.com/100/155', class: 'l-left', width: '100', height: '155'
    %h5
      Contact (with Image)
      %small Job Title
    123 Anywhere St, Suite 700<br>
    Evanston, IL 12345<br>
    (487) 487-4874<br>
    %a{ href: 'javascript:void(0);' }person@email.com <br>

%h3.sg-h3 2-column, enlarged address list

%section.address-list--2
  %address.contact
    %strong Main Campus<br />
    Medill School<br />
    Northwestern University<br />
    1845 Sheridan Road<br />
    Evanston, IL 60208-2101<br />
    (487) 467-1882

  %address.contact
    %strong Chicago Newsroom<br />
    210 S. Clark St., Suite 200<br />
    Chicago, IL 60604<br />
    (312) 503-3800<br />
    (312) 503-1362 (fax)

  %address.contact
    %strong Washington Newsroom<br />
    1325 G Street NW, Suite 730<br />
    Washington, D.C. 20005-3195<br />
    (202) 347-8700<br />
    (202) 662-1847 (fax)

  %address.contact
    %strong Northwestern University in Qatar<br />
    Suite 3226, Carnegie Mellon Building<br />
    Education City<br />
    Doha, Qatar
