%h3.sg-h3 Blockquote w/ Citation
%blockquote
  %p Some sort of famous witty quote marked up with a &lt;blockquote> and a child &lt;p> element, along with a citation &lt;footer>
  %footer — Jim Johnson, Class of '04

%h3.sg-h3 Pull Quote
%blockquote Just some text pulled out of an article to feature all fancy-style.