%h3.sg-h3 Figure with Simple Internal Figcaption
%figure
  %img{ src: "http://placekitten.com/240/240", alt: "Image Alt Text" }
  %figcaption This is a cute kitten.

%h3.sg-h3 Figure with Headlined Internal Figcaption
%figure
  %img{ src: "http://placekitten.com/240/240", alt: "Image Alt Text" }
  %figcaption
    %h4 Cute Kittens
    Placekitten always serves up cute kittens for everyone to enjoy.

%h3.sg-h3 Figure with Simple External Figcaption
%figure
  %img{ src: "http://placekitten.com/240/240", alt: "Image Alt Text" }
%figcaption This is a cute kitten.

%h3.sg-h3 Figure with Headlined External Figcaption
%figure
  %img{ src: "http://placekitten.com/240/240", alt: "Image Alt Text" }
%figcaption
  %h4 Cute Kittens
  Placekitten always serves up cute kittens for everyone to enjoy.
