%form
  %fieldset
    %input{ type: "button", value: "Input type button" }
    %input{ type: "reset", value: "Input type reset" }
    %input{ type: "submit", value: "Input type submit" }
    %input{ type: "submit", value: "Input type submit disabled", disabled: 'true' }
    %button{ type: "button" } Button type button
    %button{ type: "reset" } Button type reset
    %button{ type: "submit" } Button type submit
    %button{ type: "button", disabled: 'true' } Button type button disabled
    %button Button