%h3.sg-h3 Meter
%p 
  %meter{ value: '100', max: '100', low: '70', high: '90' } 100%
  A meter displaying 100%.
%p 
  %meter{ value: '85', max: '100', low: '70', high: '90' } 85%
  A meter displaying 85%.
%p 
  %meter{ value: '50', max: '100', low: '70', high: '90' } 50%
  A meter displaying 50%.
%p 
  %meter{ value: '0', max: '100', low: '70', high: '90' } 0%
  A meter displaying 0%.

%h3.sg-h3 Progress
%p
  %progress{ value: '100', max: '100' } 100%
  A progress displaying 100%.
%p
  %progress{ value: '85', max: '100' } 85%
  A progress displaying 85%.
%p
  %progress{ value: '50', max: '100' } 50%
  A progress displaying 50%.
%p
  %progress{ value: '0', max: '100' } 0%
  A progress displaying 0%.