%h3.sg-h3 Default Table
%table
  %caption Table Caption
  %thead
    %tr
      %th thead th
      %th thead th
      %th thead th
  %tbody
    %tr
      %td tbody td
      %td tbody td
      %td tbody td
    %tr
      %td tbody td
      %td tbody td
      %td tbody td
    %tr
      %td tbody td
      %td tbody td
      %td tbody td
  %tfoot
    %tr
      %th tfoot th
      %th tfoot th
      %th tfoot th

%h3.sg-h3 Table with side headings
%table
  %caption Table Caption
  %thead
    %tr
      %th thead th
      %th thead th
      %th thead th
  %tbody
    %tr
      %th tbody th
      %td tbody td
      %td tbody td
    %tr
      %th tbody th
      %td tbody td
      %td tbody td
    %tr
      %th tbody th
      %td tbody td
      %td tbody td
  %tfoot
    %tr
      %th tfoot th
      %th tfoot th
      %th tfoot th